<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<div th:fragment="graphSection">
<canvas id="expense-flow"></canvas>
<script>
        var datasetValue = [];
        var amounts = [[${amounts}]]
        var categories = [(${categories})]
        var colors = [(${colors})]
        var count = [[${colors.size()}]]
        for (var j=0; j<count; j++) {
            datasetValue[j] = {
                data: amounts[j],
                label: categories[j],
                borderColor: colors[j],
                fill: false
            }
        }

		new Chart(document.getElementById("expense-flow"), {
          type: 'line',
          data: {
            labels: [(${dates})],
            datasets: datasetValue
          }
        });
</script>
</div>
</body>
</html>
