<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: header}"/>

<div th:replace="~{fragments/sidebar :: sidebar}"/>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Wertpapiere</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card h-100 mb-0">
                <div class="card-body">
                    <h4 class="card-title">Zusammenfassung</h4>
                    <table class="table table-borderless table-sm">
                        <tbody>
                            <tr>
                                <td>Aktien</td>
                                <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(shareSum, 2, 'EUR')}"></td>
                                <td th:class="${@thymeleafService.getNumberClass(shareChange)}" th:text="${@thymeleafService.formatNumber(shareChange, 2, 'EUR')}"></td>
                                <td th:class="${@thymeleafService.getNumberClass(shareDividend)}" th:text="${@thymeleafService.formatNumber(shareDividend, 2, 'EUR')}"></td>
                            </tr>
                            <tr>
                                <td>Aktienfonds</td>
                                <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(fundSum, 2, 'EUR')}"></td>
                                <td th:class="${@thymeleafService.getNumberClass(fundChange)}" th:text="${@thymeleafService.formatNumber(fundChange, 2, 'EUR')}"></td>
                                <td th:class="${@thymeleafService.getNumberClass(fundDividend)}" th:text="${@thymeleafService.formatNumber(fundDividend, 2, 'EUR')}"></td>
                            </tr>
                            <tr>
                                <td>ETFs</td>
                                <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(etfSum, 2, 'EUR')}"></td>
                                <td th:class="${@thymeleafService.getNumberClass(etfChange)}" th:text="${@thymeleafService.formatNumber(etfChange, 2, 'EUR')}"></td>
                                <td th:class="${@thymeleafService.getNumberClass(etfDividend)}" th:text="${@thymeleafService.formatNumber(etfDividend, 2, 'EUR')}"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold">
                                <td>Summe</td>
                                <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(totalSum, 2, 'EUR')}"></td>
                                <td th:class="${@thymeleafService.getNumberClass(totalChange)}" th:text="${@thymeleafService.formatNumber(totalChange, 2, 'EUR')}"></td>
                                <td th:class="${@thymeleafService.getNumberClass(totalDividend)}" th:text="${@thymeleafService.formatNumber(totalDividend, 2, 'EUR')}"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Sparpl&auml;ne</h4>
                    <table class="table table-borderless table-sm">
                        <tbody>
                        <tr th:each="savingsPlan: ${savingsPlans}">
                            <td>[[${savingsPlan.financialProduct.name}]]</td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatInterval(savingsPlan.interval)}"></td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(savingsPlan.amount, 0, 'EUR')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <h4 class="card-title">Aktien</h4>
                    <table class="table table-borderless table-hover table-sm table-sortable">
                        <thead>
                            <tr>
                                <th style="text-align: center">Name</th>
                                <th style="text-align: center">Anzahl</th>
                                <th style="text-align: center">Kurs</th>
                                <th style="text-align: center">Summe</th>
                                <th style="text-align: center">Ertrag</th>
                                <th style="text-align: center">Dividenden</th>
                                <th style="text-align: center">Prozent heute</th>
                                <th style="text-align: center">Prozent gesamt</th>
                                <th style="text-align: center">Prozent j&auml;hrlich</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product: ${shareProducts}">
                            <td>[[${product.name}]]</td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentQuantity, 0, '')}"></td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentPrice, 2, 'EUR')}"></td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentAmount, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.changeTotal)}" th:text="${@thymeleafService.formatNumber(product.changeTotal, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.dividendTotal)}" th:text="${@thymeleafService.formatNumber(product.dividendTotal, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeToday)}" th:text="${@thymeleafService.formatNumber(product.percentChangeToday, 2, '%')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeTotal)}" th:text="${@thymeleafService.formatNumber(product.percentChangeTotal, 2, '%')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeYearly)}" th:text="${@thymeleafService.formatNumber(product.percentChangeYearly, 2, '%')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <h4 class="card-title">Fonds</h4>
                    <table class="table table-borderless table-hover table-sm table-sortable">
                        <thead>
                        <tr>
                            <th style="text-align: center">Name</th>
                            <th style="text-align: center">Anzahl</th>
                            <th style="text-align: center">Kurs</th>
                            <th style="text-align: center">Summe</th>
                            <th style="text-align: center">Ertrag</th>
                            <th style="text-align: center">Dividenden</th>
                            <th style="text-align: center">Prozent heute</th>
                            <th style="text-align: center">Prozent gesamt</th>
                            <th style="text-align: center">Prozent j&auml;hrlich</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product: ${fundProducts}">
                            <td>[[${product.name}]]</td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentQuantity, 0, '')}"></td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentPrice, 2, 'EUR')}"></td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentAmount, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.changeTotal)}" th:text="${@thymeleafService.formatNumber(product.changeTotal, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.dividendTotal)}" th:text="${@thymeleafService.formatNumber(product.dividendTotal, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeToday)}" th:text="${@thymeleafService.formatNumber(product.percentChangeToday, 2, '%')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeTotal)}" th:text="${@thymeleafService.formatNumber(product.percentChangeTotal, 2, '%')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeYearly)}" th:text="${@thymeleafService.formatNumber(product.percentChangeYearly, 2, '%')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <h4 class="card-title">ETFs</h4>
                    <table class="table table-borderless table-hover table-sm table-sortable">
                        <thead>
                        <tr>
                            <th style="text-align: center">Name</th>
                            <th style="text-align: center">Anzahl</th>
                            <th style="text-align: center">Kurs</th>
                            <th style="text-align: center">Summe</th>
                            <th style="text-align: center">Ertrag</th>
                            <th style="text-align: center">Dividenden</th>
                            <th style="text-align: center">Prozent heute</th>
                            <th style="text-align: center">Prozent gesamt</th>
                            <th style="text-align: center">Prozent j&auml;hrlich</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product: ${etfProducts}">
                            <td>[[${product.name}]]</td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentQuantity, 0, '')}"></td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentPrice, 2, 'EUR')}"></td>
                            <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(product.currentAmount, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.changeTotal)}" th:text="${@thymeleafService.formatNumber(product.changeTotal, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.dividendTotal)}" th:text="${@thymeleafService.formatNumber(product.dividendTotal, 2, 'EUR')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeToday)}" th:text="${@thymeleafService.formatNumber(product.percentChangeToday, 2, '%')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeTotal)}" th:text="${@thymeleafService.formatNumber(product.percentChangeTotal, 2, '%')}"></td>
                            <td th:class="${@thymeleafService.getNumberClass(product.percentChangeYearly)}" th:text="${@thymeleafService.formatNumber(product.percentChangeYearly, 2, '%')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer-js}"/>
</body>
</html>
