<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: header}"/>

<div th:replace="~{fragments/sidebar :: sidebar}"/>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Wertpapiere</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card h-100 mb-0">
                <div class="card-body">
                    <h4 class="card-title">Zusammenfassung</h4>
                    <table class="table table-borderless table-sm">
                        <tbody>
                            <tr>
                                <td>Aktien</td>
                                <td style="text-align: right">25.000 €</td>
                            </tr>
                            <tr>
                                <td>Aktienfonds</td>
                                <td style="text-align: right">5.000 €</td>
                            </tr>
                            <tr>
                                <td>ETFs</td>
                                <td style="text-align: right">10.000 €</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold">
                                <td>Summe</td>
                                <td style="text-align: right">40.000 €</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Sparpl&auml;ne</h4>
                    <table class="table table-borderless table-sm">
                        <tbody>
                        <tr>
                            <td>MSCI World (AKJHD89899DFD)</td>
                            <td>monatlich</td>
                            <td style="text-align: right">100 €</td>
                        </tr>
                        <tr>
                            <td>MSCI Nasdaq (AKJHD89899DFD)</td>
                            <td>quartalsm&auml;&szlig;ig</td>
                            <td style="text-align: right">100 €</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <h4 class="card-title">Aktien</h4>
                    <table class="table table-borderless table-hover table-sm table-sortable">
                        <thead>
                            <tr>
                                <th style="text-align: center">Name</th>
                                <th style="text-align: center">ISIN</th>
                                <th style="text-align: center">Anzahl</th>
                                <th style="text-align: center">Kurs</th>
                                <th style="text-align: center">Summe</th>
                                <th style="text-align: center">Ertrag absolut</th>
                                <th style="text-align: center">Ertrag prozentuell</th>
                                <th style="text-align: center">Ertrag j&auml;hrlich</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Bayer</td>
                            <td>BAY00324320</td>
                            <td style="text-align: right">12</td>
                            <td style="text-align: right">345.67 €</td>
                            <td style="text-align: right">32.423 €</td>
                            <td class="financial-value-positive">568 €</td>
                            <td class="financial-value-positive">4.54 %</td>
                            <td class="financial-value-positive">1.11 %</td>
                        </tr>
                        <tr>
                            <td>Wienerberger</td>
                            <td>AT234032fs</td>
                            <td style="text-align: right">5</td>
                            <td style="text-align: right">335.12 €</td>
                            <td style="text-align: right">1.578 €</td>
                            <td class="financial-value-negative">-123 €</td>
                            <td class="financial-value-negative">-0.34 %</td>
                            <td class="financial-value-negative">-0.04 %</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <h4 class="card-title">Fonds</h4>
                    <table class="table table-borderless table-hover table-sm table-sortable">
                        <thead>
                        <tr>
                            <th style="text-align: center">Name</th>
                            <th style="text-align: center">ISIN</th>
                            <th style="text-align: center">Anzahl</th>
                            <th style="text-align: center">Kurs</th>
                            <th style="text-align: center">Summe</th>
                            <th style="text-align: center">Ertrag absolut</th>
                            <th style="text-align: center">Ertrag prozentuell</th>
                            <th style="text-align: center">Ertrag j&auml;hrlich</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Bayer</td>
                            <td>BAY00324320</td>
                            <td style="text-align: right">12</td>
                            <td style="text-align: right">345.67 €</td>
                            <td style="text-align: right">32.423 €</td>
                            <td class="financial-value-positive">568 €</td>
                            <td class="financial-value-positive">4.54 %</td>
                            <td class="financial-value-positive">1.11 %</td>
                        </tr>
                        <tr>
                            <td>Wienerberger</td>
                            <td>AT234032fs</td>
                            <td style="text-align: right">5</td>
                            <td style="text-align: right">335.12 €</td>
                            <td style="text-align: right">1.578 €</td>
                            <td class="financial-value-negative">-123 €</td>
                            <td class="financial-value-negative">-0.34 %</td>
                            <td class="financial-value-negative">-0.04 %</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <h4 class="card-title">ETFs</h4>
                    <table class="table table-borderless table-hover table-sm table-sortable">
                        <thead>
                        <tr>
                            <th style="text-align: center">Name</th>
                            <th style="text-align: center">ISIN</th>
                            <th style="text-align: center">Anzahl</th>
                            <th style="text-align: center">Kurs</th>
                            <th style="text-align: center">Summe</th>
                            <th style="text-align: center">Ertrag absolut</th>
                            <th style="text-align: center">Ertrag prozentuell</th>
                            <th style="text-align: center">Ertrag j&auml;hrlich</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Bayer</td>
                            <td>BAY00324320</td>
                            <td style="text-align: right">12</td>
                            <td style="text-align: right">345.67 €</td>
                            <td style="text-align: right">32.423 €</td>
                            <td class="financial-value-positive">568 €</td>
                            <td class="financial-value-positive">4.54 %</td>
                            <td class="financial-value-positive">1.11 %</td>
                        </tr>
                        <tr>
                            <td>Wienerberger</td>
                            <td>AT234032fs</td>
                            <td style="text-align: right">5</td>
                            <td style="text-align: right">335.12 €</td>
                            <td style="text-align: right">1.578 €</td>
                            <td class="financial-value-negative">-123 €</td>
                            <td class="financial-value-negative">-0.34 %</td>
                            <td class="financial-value-negative">-0.04 %</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer-js}"/>
</body>
</html>
