<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $( document ).ready(function() {
            $('.expenditureGroupRow').nextAll().hide();
        });
        $(document).on("click",".expenditureGroupRow", function () {
            $(this).nextAll().toggle();
        });
    </script>
</head>
<body>
<div th:fragment="monthlySection"  class="container">
    <div class="row" style="--bs-gutter-x: 5rem;">
        <div class="col-md-6">
            <table class="table table-borderless table-sm">
                <tbody th:each="incomeGroup: ${incomeGroups}">
                <tr>
                    <td style="font-weight: bold">[[${incomeGroup.name}]]</td>
                    <td style="text-align: right; font-weight: bold" th:text="${@thymeleafService.formatNumber(incomeGroup.sum, 2, 'EUR')}"></td>
                </tr>
                <tr th:each="incomeItem: ${incomeGroup.activeItems}">
                    <td>[[${incomeItem.name}]]</td>
                    <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(incomeItem.activeDetail.get().amount, 2, 'EUR')}"></td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td style="font-weight: bold">Summe Einnahmen</td>
                    <td style="text-align: right; font-weight: bold" th:text="${@thymeleafService.formatNumber(incomeSum, 2, 'EUR')}"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Summe Ausgaben</td>
                    <td style="text-align: right; font-weight: bold" th:text="${@thymeleafService.formatNumber(expenditureSum, 2, 'EUR')}"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Liquide Mittel</td>
                    <td style="text-align: right; font-weight: bold" th:text="${@thymeleafService.formatNumber(totalSum, 2, 'EUR')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-borderless table-sm">
                <tbody th:each="expenditureGroup: ${expenditureGroups}">
                <tr class="expenditureGroupRow" style="cursor: pointer;">
                    <td style="font-weight: bold">[[${expenditureGroup.name}]]</td>
                    <td style="text-align: right; font-weight: bold" th:text="${@thymeleafService.formatNumber(expenditureGroup.sum, 2, 'EUR')}"></td>
                </tr>
                <tr th:each="expenditureItem: ${expenditureGroup.activeItems}">
                    <td>[[${expenditureItem.name}]]</td>
                    <td style="text-align: right;" th:text="${@thymeleafService.formatNumber(expenditureItem.activeDetail.get().amount, 2, 'EUR')}"></td>
                </tr>
                </tbody>
                <tr>
                    <td style="font-weight: bold">Summe Ausgaben</td>
                    <td style="text-align: right; font-weight: bold" th:text="${@thymeleafService.formatNumber(expenditureSum, 2, 'EUR')}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
