<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="footer-js">
        <!-- Vendor JS Files -->
        <script type="text/javascript" th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"
                src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" th:src="@{/resources/vendor/chart.js/chart.umd.js}"
                src="../../static/vendor/chart.js/chart.umd.js"></script>
        <script type="text/javascript" th:src="@{/resources/vendor/chart.js/chartjs-plugin-zoom.min.js}"
                src="../../static/vendor/chart.js/chartjs-plugin-zoom.min.js"></script>
        <script type="text/javascript" th:src="@{/resources/vendor/simple-datatables/simple-datatables.js}"
                src="../../static/vendor/simple-datatables/simple-datatables.js"></script>

        <!-- Template Main JS File -->
        <script type="text/javascript" th:src="@{/resources/js/main.js}"
                src="../../static/js/main.js"></script>
    </div>
</head>
<body>
</body>
</html>
