<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="footer-js">
        <!-- Vendor JS Files -->
        <script type="text/javascript" th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"
                src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script>
            console.log('Bootstrap script loaded in footer');
            if (typeof bootstrap !== 'undefined') {
                console.log('Bootstrap object version:', bootstrap.Tooltip ? 'Likely v5' : 'Unknown');
                window.bootstrap = bootstrap;
            }
        </script>
        <script type="text/javascript" th:src="@{/resources/vendor/chart.js/chart.umd.js}"
                src="/resources/vendor/chart.js/chart.umd.js"></script>
        <script type="text/javascript" th:src="@{/resources/vendor/chart.js/chartjs-plugin-zoom.min.js}"
                src="/resources/vendor/chart.js/chartjs-plugin-zoom.min.js"></script>
        <script type="text/javascript" th:src="@{/resources/vendor/simple-datatables/simple-datatables.js}"
                src="/resources/vendor/simple-datatables/simple-datatables.js"></script>

        <!-- Template Main JS File -->
        <script type="text/javascript" th:src="@{/resources/js/main.js}"
                src="/resources/js/main.js"></script>
    </div>
</head>
<body>
</body>
</html>
