<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>

    <script>
        function retrieveMonthlyOverview(date) {
            var month = date.substring(0, date.indexOf('-'))
            var year = date.substring(date.indexOf('-') + 1)

            var monthlyUrl = '/expenses/ongoing/monthly?month=' + month + '&year=' + year;

            $("#monthlyContainer").load(monthlyUrl);
        }

        function retrievePie(date) {
            var month = date.substring(0, date.indexOf('-'))
            var year = date.substring(date.indexOf('-') + 1)

            var pieUrl = '/expenses/ongoing/pie?month=' + month + '&year=' + year;

            $("#pieContainer").load(pieUrl);
        }

        function retrieveGraph(lastMonths) {
            var monthsParam = '';
            if (lastMonths != -1) {
                monthsParam = '?lastMonths=' + lastMonths;
            }
            var graphUrl = '/expenses/ongoing/graph' + monthsParam;

            $("#graphContainer").load(graphUrl);
        }

        function initializeMonthData() {
            retrieveMonthlyOverview($("#monthSelection :selected").val());
            retrievePie($("#monthSelection :selected").val());
        }

        $(document).ready(function() {
            initializeMonthData();
            retrieveGraph(3);
        });
    </script>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Laufende Ausgaben</h1>

    <div class="alert alert-primary" role="alert" th:if="${successMessage}" th:text="${successMessage}"></div>
    <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Neue Ausgabe</h4>
                    <form class="form-inline" method="post" th:action="@{/credit}" th:object="${expense}">
                        <div class="md-form" style="margin: 0;">
                            <input class="form-control" name="date" placeholder="Datum" size="10" th:field="*{date}"
                                   type="date">
                            <input class="form-control" name="category" placeholder="Kategorie" required th:field="*{category}"
                                   type="search" list="categories-list"/>
                            <datalist id="categories-list">
                                <option>Eltern</option>
                                <option>Kinder</option>
                                <option>Wohnung</option>
                            </datalist>
                            <input class="form-control" name="comment" placeholder="Kommentar" required th:field="*{comment}"
                                   type="text"/>
                            <input class="form-control" name="amount" placeholder="Betrag" required size="10"
                                   th:field="*{amount}" type="number"/>
                            <button class="btn btn-primary" type="submit">Speichern</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form class="form-inline">
                        <select id="monthSelection" style="text-align: center" onchange="initializeMonthData()">
                            <option th:each="dateOption: ${datesToSelect}" th:value="${#temporals.format(dateOption, 'M-yyyy')}">[[${#temporals.format(dateOption, 'MMMM yyyy', new java.util.Locale("de"))}]]</option>
                        </select>
                        &nbsp;&nbsp;<a href="#">Alle Ausgaben anzeigen</a>
                    </form>

                    <div id="monthlyContainer">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="pieContainer">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Ausgabenverlauf</h4>
                    &nbsp;&nbsp;<a href="#" onclick="retrieveGraph(3); return false;">Letzte 3 Monate</a>
                    &nbsp;&nbsp;<a href="#" onclick="retrieveGraph(12); return false;">Letztes Jahr</a>
                    &nbsp;&nbsp;<a href="#" onclick="retrieveGraph(-1); return false;">Von Beginn</a>
                    <div id="graphContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
