<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Laufende Ausgaben</h1>

    <div class="alert alert-primary" role="alert" th:if="${successMessage}" th:text="${successMessage}"></div>
    <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Neue Ausgabe</h4>
                    <form class="form-inline" method="post" th:action="@{/credit}" th:object="${expense}">
                        <div class="md-form" style="margin: 0;">
                            <input class="form-control" name="date" placeholder="Datum" size="10" th:field="*{date}"
                                   type="date">
                            <input class="form-control" name="category" placeholder="Kategorie" required th:field="*{category}"
                                   type="search" list="categories-list"/>
                            <datalist id="categories-list">
                                <option>Eltern</option>
                                <option>Kinder</option>
                                <option>Wohnung</option>
                            </datalist>
                            <input class="form-control" name="comment" placeholder="Kommentar" required th:field="*{comment}"
                                   type="text"/>
                            <input class="form-control" name="amount" placeholder="Betrag" required size="10"
                                   th:field="*{amount}" type="number"/>
                            <button class="btn btn-primary" type="submit">Speichern</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form class="form-inline">
                        <select style="text-align: center">
                            <option>September 2020</option>
                            <option>August 2020</option>
                            <option>Juli 2020</option>
                            <option>Juni 2020</option>
                        </select>
                        &nbsp;&nbsp;<a href="#">Alle Ausgaben anzeigen</a>
                    </form>

                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Kategorie</th>
                            <th scope="col">Betrag</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="col">Auto</td>
                            <td scope="col">53,00 €</td>
                        </tr>
                        <tr>
                            <td scope="col">Freizeit</td>
                            <td scope="col">23,00 €</td>
                        </tr>
                        <tr>
                            <td scope="col">Essen</td>
                            <td scope="col">20,00 €</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Summe</th>
                            <th>96,00 €</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="expense-pie"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ausgabenverlauf</h4>
                    <canvas id="expense-flow"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
		new Chart(document.getElementById("expense-flow"), {
          type: 'line',
          data: {
            labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
            datasets: [{
                data: [86,114,106,106,107,111,133,221,783,2478],
                label: "Africa",
                borderColor: "#3e95cd",
                fill: false
              }, {
                data: [282,350,411,502,635,809,947,1402,3700,5267],
                label: "Asia",
                borderColor: "#8e5ea2",
                fill: false
              }, {
                data: [168,170,178,190,203,276,408,547,675,734],
                label: "Europe",
                borderColor: "#3cba9f",
                fill: false
              }, {
                data: [40,20,10,16,24,38,74,167,508,784],
                label: "Latin America",
                borderColor: "#e8c3b9",
                fill: false
              }, {
                data: [6,3,2,2,7,26,82,172,312,433],
                label: "North America",
                borderColor: "#c45850",
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'World population per region (in millions)'
            }
          }
        });

        new Chart(document.getElementById("expense-pie"), {
            type: 'pie',
            data: {
              labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
              datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: [2478,5267,734,784,433]
              }]
            },
            options: {
              title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
              }
            }
        });
</script>
</body>
</html>
