<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: header}"/>

<div th:replace="~{fragments/sidebar :: sidebar}"/>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Kredit&uuml;bersicht</h1>
    </div>

    <div class="alert alert-primary" role="alert" th:text="${successMessage}" th:if="${successMessage}"></div>
    <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>

    <div class="row">
        <div class="col-4">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <h4 class="card-title">Restlaufzeit</h4>
                    <h5 class="card-subtitle mb-2 text-muted" th:inline="text">[[${yearsRemaining}]] Jahre [[${monthsRemaining}]] Monate</h5>
                    <p class="card-text">Ursprünglich [[${originalYearsRemaining}]] Jahre [[${originalMonthsRemaining}]] Monate</p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <h4 class="card-title">Neue Sondertilgung</h4>
                    <form class="row g-3" th:action="@{/credit}" th:object="${payment}" method="post">
                        <div class="col-md-3">
                            <input required name="amount" id="amount" type="number" placeholder="Betrag" class="form-control" th:field="*{amount}"/>
                        </div>
                        <div class="col-md-3">
                            <input required name="description" id="description" type="text" placeholder="Beschreibung" class="form-control" th:field="*{description}"/>
                        </div>
                        <div class="col-md-3">
                            <input required name="date" id="date" type="date" placeholder="Datum" class="form-control" th:field="*{date}"/>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <button type="submit" class="btn btn-primary">Speichern</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <h4 class="card-title">Sonderzahlungen bisher</h4>
                    <h5 class="card-subtitle mb-2 text-muted">[[${#numbers.formatDecimal(additionalPaymentsSum, 0, 'POINT', 2, 'COMMA')}]] &euro;</h5>
                    <div style="float: left">
                        <p class="card-text" th:each="additionalPayment: ${additionalPayments.subList(0, additionalPayments.size() / 2)}">[[${#temporals.format(additionalPayment.date, 'dd.MM.YYYY')}]] - [[${#numbers.formatDecimal(additionalPayment.balanceChange, 0, 'POINT', 2, 'COMMA')}]] &euro;</p>
                    </div>
                    <div style="float: right">
                        <p class="card-text" th:each="additionalPayment: ${additionalPayments.subList(additionalPayments.size() / 2, additionalPayments.size())}">[[${#temporals.format(additionalPayment.date, 'dd.MM.YYYY')}]] - [[${#numbers.formatDecimal(additionalPayment.balanceChange, 0, 'POINT', 2, 'COMMA')}]] &euro;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <h4 class="card-title">Minimal mögliche Rate</h4>
                    <h5 class="card-subtitle mb-2 text-muted">[[${#numbers.formatDecimal(minimumInstallment, 0, 'POINT', 2, 'COMMA')}]] &euro;</h5>
                </div>
            </div>
        </div>
    </div>

</main>

<div th:replace="~{fragments/footer :: footer-js}"/>
</body>
</html>
