.contentContainer {
    min-height: 20vh;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F9FAFC;
}

.alert {
    width: 40%;
    margin: 0 auto;
    margin-top: 1em;
}

.row, h1 {
    margin-bottom: 1em;
}

.card {
    height: 100%;
}

.md-form {
    margin-top: 0;
    margin-bottom: 0;
}