<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<div th:fragment="monthlySection"  class="container">
    <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr>
            <th class="text-center" scope="col">Datum</th>
            <th class="text-center" scope="col">Kategorie</th>
            <th class="text-center" scope="col">Kommentar</th>
            <th class="text-center" scope="col">Betrag</th>
            <th class="text-center" scope="col">L&ouml;schen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense: ${expensesForMonth}" th:id="${expense.id}" onchange="dataChanged(this)">
            <td class="pt-3-half" contenteditable="true" scope="col" th:id="${expense.id} + '-date'">[[${expense.date}]]</td>
            <td class="pt-3-half" contenteditable="true" scope="col" th:id="${expense.id} + '-category'">[[${expense.category}]]</td>
            <td class="pt-3-half" contenteditable="true" scope="col" th:id="${expense.id} + '-comment'">[[${expense.comment}]]</td>
            <td class="pt-3-half" contenteditable="true" scope="col" th:id="${expense.id} + '-amount'">[[${expense.amount}]] €</td>
            <td>
              <span class="table-remove"><button type="button"
                                                 class="delete btn btn-danger btn-rounded btn-sm my-0">L&ouml;schen</button></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
