<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<div th:fragment="monthlySection"  class="container">
    <div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Kategorie</th>
            <th scope="col" style="text-align: right">Betrag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expenseSummaryElement: ${expenseSummary}">
            <td>[[${expenseSummaryElement.category}]]</td>
            <td style="text-align: right">[[${expenseSummaryElement.amount}]] €</td>
        </tr>
        </tbody>
        <tfoot>
        <tr th:if= "${!expenseSummary.isEmpty()}">
            <th>Summe</th>
            <th style="text-align: right">[[${monthlySum}]] €</th>
        </tr>
        </tfoot>
    </table>
    </div>
</div>
</body>
</html>
