<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<div th:fragment="pieSection"  class="container">
<canvas id="expense-pie"></canvas>
<script th:inline="javascript">
        new Chart(document.getElementById("expense-pie"), {
            type: 'pie',
            data: {
              labels: [(${categories})],
              datasets: [{
                label: "Kostenaufteilung",
                backgroundColor: [(${colors})],
                data: [[${amounts}]]
              }]
            },
            options: {
            }
        });
</script>
</div>
</body>
</html>
